.App {
  text-align: top;
}

.App-header {
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background: linear-gradient(to bottom, #2193b0 , #6dd5ed);
}

h2 {
  height: 10px;
  top: 20px;
  position: absolute;
  text-align: top;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  height:5px;
  top: 40px;
  height: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

section {
  font-family: 'Courier New', Courier, monospace;
}

section1 {
  height: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  text-align: center;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}
p1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}
p2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

section2 {
  font-family: 'Courier New', Courier, monospace;
  height: 2px;
  font-size: small;
  text-align: center;
}

p3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

p4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

section3 {
  font-family: 'Courier New', Courier, monospace;
  height: 2px;
  font-size: small;
  text-align: center;
}

section4 {
  font-family: 'Courier New', Courier, monospace;
  height: 2px;
  font-size: small;
  text-align: center;
}

p5 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

p6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
}

section5 {
  font-family: 'Courier New', Courier, monospace;
  height: 2px;
  font-size: small;
  text-align: center;
  color: black;
}

p7 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
  text-align: center;
}

p8 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
  text-align: center;
}

p9 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
  text-align: center;
}

p10 {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: black;
  text-align: center;
}